@font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fira-mono-v14-latin_latin-ext-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('titillium-web-v15-latin_latin-ext-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    src: url('titillium-web-v15-latin_latin-ext-italic.woff2') format('woff2');
}
:root {
    --background: #fafafa;
    --code: #eef0e6;
    --header: #8eb6bf;
    --link: #35748c;
    --text: #222;
}
a {
    color: var(--link);
    text-decoration: none;
}
.active { border-bottom: 1px dotted; }
blockquote {
    background-color: var(--code);
    border-radius: .2rem;
    margin-left: 0;
    max-width: 33rem;
    padding: .001rem 1.4rem;
}
body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    margin: 0;
}
.close_nav {
    color: var(--text);
    font-size: 1.5rem;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
}
code, pre { font-family: 'Fira Mono', monospace; }
h1 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2rem;
}
h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
}
header {
    align-items: center;
    background-color: var(--header);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    height: 3.4rem;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 1;
}
header a { color: #fff; }
.language-eno .comment { color: #5c6370; }
.language-eno .key { color: #e06c75; }
.language-eno .operator { color: #56b6c2; }
.language-eno .value { color: #3f3f3f; }
main {
    flex-grow: 1;
    min-width: 0;
    overflow-y: auto;
    padding: 0 2rem;
}
nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}
.nav_inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.nav_inner a { white-space: nowrap; }
.nav_inner span { margin: 2rem 0 .2rem 0; }
.next_page { margin: 3rem 0 2rem 0; }
.number {
    display: inline-block;
    font-weight: 500;
    text-align: right;
    width: 1.5rem;
}
p, ul {
    box-sizing: border-box;
    max-width: 33rem;
    text-align: justify;
}
p code,
h2 code,
li code {
    background-color: var(--code);
    border-radius: .2rem;
    padding: .15rem .3rem;
}
p code,
li code { font-size: .9rem; }
pre {
    background-color: var(--code);
    box-shadow: inset 0 .5rem .5rem -.5rem hsla(0, 0%, 0%, .1),
                inset 0 -.5rem .5rem -.5rem hsla(0, 0%, 0%, .1);
    font-size: .9rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: 2rem;
    overflow-x: auto;
    padding: 2rem;
}
.split {
    display: flex;
    height: calc(100vh - 3.4rem);
}
.title {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
}
.title img { width: 3rem; }

@media (max-width: 50rem) {
    header { padding: 0 1rem; }
    main {
        flex-grow: 1;
        min-width: 0;
        overflow-y: auto;
        padding: 0 1rem;
    }
    nav {
        display: none;
    }
    nav:target {
        align-items: center;
        background-color: var(--background);
        bottom: 0;
        display: flex;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    pre {
        margin-left: -1rem;
        margin-right: -1rem;
        overflow-x: auto;
        padding: 1rem;
    }
}

@media (min-width: 50.0001rem) {
    .close_nav { display: none; }
    nav {
        border-right: 1px solid #d0d0d0;
        box-shadow: 0 0 1rem hsla(0, 0%, 0%, .05);
    }
    .open_nav { display: none; }
}