.undescribed_icon {
    background-color: hsla(var(--background-h), var(--background-s), var(--background-l), .5);
    border-radius: .4rem;
    padding: .3em;
    position: absolute;
    right: .4rem;
    top: .4rem;
    z-index: 3;
}
.undescribed_icon img { width: 1.5em; }
.undescribed_overlay {
    align-items: center;
    background-color: hsla(var(--background-h), var(--background-s), var(--background-l), .9);
    border-radius: var(--cover-border-radius);
    display: none;
    font-size: var(--clearly-smaller);
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.undescribed_icon:hover + .undescribed_overlay { display: flex; }
.undescribed_wrapper { position: relative; }