:root {
    --color-background: hsl(var(--background-h), var(--background-s), var(--background-l));
/*    --color-cover: hsl(var(--cover-h), var(--cover-s), var(--cover-l));*/
    --color-link: hsl(var(--link-h), var(--link-s), var(--link-l));
    --color-link-hover: hsl(var(--link-h), var(--link-s), var(--link-hover-l));
    --color-muted: hsl(var(--muted-h), var(--muted-s), var(--muted-l));
    --color-text: hsl(var(--text-h), var(--text-s), var(--text-l));
    --clearly-smaller: .83rem;
    --subtly-larger: 1.14rem;
    --boldly-larger: 1.17rem;
    --large: 1.5rem;
    --largest: 1.8rem;
}
a, button { cursor: pointer; }
a {
    color: var(--color-link);
    text-decoration: none;
}
a svg { fill: var(--color-link); }
a:hover { color: var(--color-link-hover); }
a:hover svg { fill: var(--color-link-hover); }
a * { pointer-events: none; }
.action_links {
    column-gap: .3rem;
    display: flex;
    font-size: var(--boldly-larger);
}
.action_links a {
    align-items: center;
    column-gap: .2rem;
    display: flex;
}
.action_links svg {
    height: var(--boldly-larger);
    width: var(--boldly-larger);
}
.additional { background-color: hsla(0, 0%, var(--text-l), var(--release-additional-a)); }
.additional > div {
    margin: 0 auto;
    max-width: 20rem;
    padding: 1.5rem;
}
.artists {
    align-items: center;
    column-gap: .4rem;
    display: flex;
    flex-flow: row wrap;
    margin: 1.5rem 0;
    row-gap: .4rem;
}
.artists a {
    background-color: var(--color-link);
    border-radius: .15rem;
    color: var(--color-background);
    padding: .1rem .2rem .2rem .2rem;
}
input, button { font-size: 1rem; }
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    min-height: 100vh;
}
.catalog {
    align-items: center;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content max-content;
    grid-row-gap: .5rem;
    justify-items: center;
}
.catalog_info_padded {
    max-width: 33rem;
    padding: 1rem;
}
.cover {
    background-color: var(--color-cover);
    display: block;
    max-height: 20rem;
    max-width: 20rem;
}
.cover_listing {
    background-color: var(--color-cover);
    display: block;
    margin-bottom: .5rem;
}
.download_formats { margin-left: .1rem; }
.download_hints > small { display: block; }
.download_hints > small:not(:first-child) { margin-top: .8rem; }
.download_options div { margin-bottom: .5rem; }
.duration {
    color: hsla(var(--text-h), var(--text-s), var(--text-l), .5);
    margin-left: .2rem;
    user-select: none;
    white-space: nowrap;
}
.embed_code { white-space: pre-wrap; }
.embed_code_wrapper {
    background-color: hsla(0, 0%, var(--text-l), 0.02);
    box-shadow:
        inset 0 .5rem .5rem -.5rem hsla(0, 0%, 0%, .1),
        inset 0 -.5rem .5rem -.5rem hsla(0, 0%, 0%, .1);
    margin-top: 1rem;
    padding: 1rem;
}
.embed_split {
    align-items: center;
    column-gap: .3rem;
    display: flex;
    justify-content: space-between;
}
.embed_syntax_special { opacity: .6; /* TODO: Solve differently */ }
.embed_syntax_value { opacity: .8; /* TODO: Solve differently */ }
h1 {
    font-size: var(--large);
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: var(--boldly-larger);
    font-weight: 400;
    margin: 0;
}
.hcenter_medium {
    margin-left: auto;
    margin-right: auto;
    max-width: 27rem;
}
.hcenter_narrow {
    margin: 0 auto;
    max-width: 20rem;
}
.hcenter_unconstrained { margin: 0 auto; }
.hcenter_wide {
    margin-left: auto;
    margin-right: auto;
    max-width: 33rem;
}
.home_image {
    height: 40vw;
    object-fit: cover;
    width: 100vw;
}
img {
    display: block;
    max-width: 100%;
}
.image {
    display: block;
    height: 100%;
    width: 100%;
}
.image img,
.image svg {
    border-radius: var(--cover-border-radius);
    height: 100%;
    width: 100%;
}
.index_split {
    align-items: start;
    display: grid;
    grid-template-columns: fit-content(100vw);
    grid-template-rows: max-content min-content;
    justify-content: center;
    min-height: calc(100vh - 2.5rem);
}
.large_type { font-size: 1.4rem; }
.logo {
    flex-shrink: 0;
    margin-left: .1rem;
    width: 2.3rem;
}
main { box-sizing: border-box; }
.margin_page_bottom { margin-bottom: 3rem; }
.margin_page_top { margin-top: 1rem; }
.mobile_hpadding {
    padding-left: 1rem;
    padding-right: 1rem;
}
.muted { color: var(--color-muted); }
nav {
    align-items: center;
    background-color: hsla(var(--link-h), var(--background-s), var(--header-l), var(--header-a));
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, var(--header-shadow-a));
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}
#overlay {
    align-items: center;
    background-color: hsla(var(--background-h), var(--background-s), var(--background-l), .9);
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    row-gap: .2rem;
    top: 0;
    z-index: 999;
}
[data-disabled-share],
.disabled[data-copy] { color: var(--color-muted); }
#overlay:target { display: flex; }
#overlay img {
    max-height: calc(100vh - 4rem);
    max-width: calc(100vw - 4rem);
}
.path {
    color: hsl(var(--text-h), var(--text-s), var(--header-text-l));
    overflow-x: hidden;
    padding-right: 1rem;
    position: relative;
    text-overflow: ellipsis;
    top: -.01rem;
    white-space: nowrap;
}
.path a { color: hsl(var(--text-h), var(--text-s), var(--header-link-l)); }
.path a svg { fill: hsl(var(--text-h), var(--text-s), var(--header-link-l)); }
.path span { padding: 0 .2rem; }
.path svg {
    height: var(--boldly-larger);
    position: relative;
    top: .2rem;
    width: var(--boldly-larger);
}
pre { margin: 0; }
.release {
    display:  flex;
    flex-direction: column;
}
.release_artists { font-size: var(--boldly-larger); }
.release_label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1.5rem 0;
    row-gap: .2rem;
}
.releases {
    align-content: start;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.6rem;
    padding: 1rem;
    justify-self: center;
}
.release { grid-column-start: 1 }
#share {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
#share .inner {
    align-items: center;
    background-color: var(--color-background);
    border-radius: .4rem;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.2);
    column-gap: .8rem;
    display: flex;
    margin: 4rem;
    padding: 1rem;
    pointer-events: all;
}
@keyframes dim {
  0% { opacity: 1; }
  5% { opacity: .5; }
  95% { opacity: .5; }
  100% { opacity: 0; }
}
#share:target { display: flex; }
small { font-size: var(--clearly-smaller); }
svg * { pointer-events: none; /* prevent click events on sub elements of an svg */ }
[data-copy] .success,
[data-copy] .error { display: none; }
.confirmed[data-copy] .action,
.failed[data-copy] .action { display: none; }
.confirmed[data-copy] .success { display: inline; }
.failed[data-copy] .error { display: inline; }
.confirmed[data-copy],
.failed[data-copy] {
    animation: dim 3s linear;
    opacity: 1;
}
.track {
    height: 3rem;
    margin-bottom: .2rem;
    margin-bottom: .4rem;
    position: relative;
}
.track.active .track_number,
.track:hover .track_number { display: none; }
.track_controls {
    display: none;
    top: .15rem;
}
.track_number.outer { display: none; }
.track.active .track_controls.inner,
.track:hover .track_controls.inner { display: flex; }
.track_download_option { position: relative; }
.track_number { color: hsla(var(--text-h), var(--text-s), var(--text-l), .5); }
.track_controls,
.track_number { padding-right: .5rem; }
.track_controls.outer,
.track_number.outer {
    position: absolute;
    right: calc(100%);
    text-align: right;
}
.track_header { display: flex; }
.track_title {
    color: var(--color-text);
    flex-shrink: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.track.playing .track_title { color: var(--color-link); }
button,
.button {
    background: none;
    border: 1px solid var(--color-link);
    color: var(--color-link);
}
button,
input[type="number"],
input[type="text"],
.button {
    border-radius: .2rem;
    padding: .25rem .5rem .4rem .5rem;
}
input[type="number"],
input[type="text"] {
    background-color: hsla(var(--link-h), var(--background-s), var(--header-l), .5); /* TODO: header-l not ideal here */
    border: 1px solid var(--color-link);
    color: var(--color-text);
}
button.disabled,
input[type="number"].disabled,
input[type="text"].disabled,
.button.disabled {
    cursor: default;
    opacity: .2; /* TODO: Make-shift way to indicate disabledness, implement properly */
}
.unlock_scripted { display: none; }
#unlock {
    column-gap: 0.5rem;
    display: flex;
    margin-bottom: 2rem;
}
.unlock_code { margin-right: .3rem; }
.vcenter_page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 2.5rem - 4.43rem);
}
.vpad { margin: 1rem 0; }
.vpad_adaptive {
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.waveform {
    cursor: pointer;
    margin-top: .3rem;
}
.waveform path { fill: none; }
.waveform path.base {
    stroke: hsl(0, 0%, var(--text-l));
    stroke-width: .025px;
}
.waveform path.progress { stroke-width: .06px; }
/* In js-enabled browsers we put .js_enabled on the body on each page load */
.js_enabled audio { display: none; }
.js_enabled .payment,
.js_enabled .unlock_manual { display: none; }
.js_enabled .unlock_scripted { display: unset; }
.js_enabled .payment.active { display: unset; }
@media (min-width: 15rem) {
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases { grid-auto-columns: .5fr; }
}
@media (min-width: 22rem) {
    .embed_code { margin-left: calc(50% - 16.5rem); }
}
@media (min-width: 23rem) {
    .margin_page_top { margin-top: 3rem; }
    .vpad_adaptive { padding-top: 2rem; }
}
@media (min-width: 30rem) {
    .home_image { height: 12rem; }
    .index_split { min-height: calc(100vh - 3.2rem); }
    .logo {
        margin-left: .3rem;
        width: 2.5rem;
    }
    .mobile_hpadding {
        padding-left: 0;
        padding-right: 0;
    }
    nav {
        font-size: var(--subtly-larger);
        height: 3.2rem;
    }
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
    .releases { max-width: 33rem; grid-auto-columns: 0.33333fr; }
    .track.active .track_controls.inner,
    .track:hover .track_controls.inner { display: none; }
    .track_number.inner { display: none; }
    .track.active .track_controls.outer,
    .track:hover .track_controls.outer { display: flex; }
    .track_number.outer { display: block; }
    .vcenter_page { min-height: calc(100vh - 3.2rem - 4.43rem); }
}
@media (min-width: 60rem) {
    .catalog {
        max-width: 27rem;
        padding: 2rem 2rem 2rem 0;
    }
    .catalog_info_padded {
        padding: 0;
        max-width: 27rem;
    }
    .home_image { width: 27rem; }
    .index_split {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    .index_split.index_vcentered { align-items: center; }
    .release:nth-child(2n+1) { grid-column-start: 1 }
    .release:nth-child(2n+2) { grid-column-start: 2 }
    .releases {
        grid-auto-columns: 12rem;
        grid-column-start: 1;
        grid-column-gap: 1.6rem;
        grid-row-start: 1;
        max-width: unset;
        padding: 2rem;
    }
}
@media (min-width: 70rem) {
    .release:nth-child(3n+1) { grid-column-start: 1 }
    .release:nth-child(3n+2) { grid-column-start: 2 }
    .release:nth-child(3n+3) { grid-column-start: 3 }
}